.side_bar
  .side_bar__user_name
    .side_bar__user_name--font
      =current_user.name
      .icom
        =link_to new_group_path, class: "edit color_white" do
          = icon('far fa-edit', 'icom')
        =link_to edit_user_path(current_user) do
          = icon('fa fa-cog', 'icom', class: "gear")
  .group_list__group 
    - current_user.groups.each do |group|
      =link_to group_messages_path(group), class: "color_white" do
        .group_list__group--group_name
          = group.name
        .group_list__group--group_text
          メッセージはまだありません。